apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app-deployment
  labels:
    app: node-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
      - name: node-app
        image: prasanth98/hello-world-node-app:0.0.1
        ports:
        - containerPort: 8080 # Port your Node.js code is listening on
---
apiVersion: v1
kind: Service
metadata:
  name: node-app-service
spec:
  selector:
    app: node-app
  ports:
  - protocol: TCP
    port: 9090          # The port other apps use to talk to this service
    targetPort: 8080  # This MUST match the containerPort in your Deployment
  type: ClusterIP
